<!DOCTYPE html>
<html lang="ru"  ng-app="MyApp">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<script src="/angular/angular.min.js"></script>
</head>
<body>
	<main> <!-- 2 вариант -->
		<div class="container">
			<div ng-controller="Controller1 as Ctrl1">
				<div ng-controller="Controller2 as Ctrl2">
						{{Ctrl1.name}}{{Ctrl2.name}}{{Ctrl3.name}} <!-- Здесь мы увидем 2 имени -->
					<div ng-controller="Controller3 as Ctrl3">
						{{Ctrl1.name}}{{Ctrl2.name}}{{Ctrl3.name}} <!-- Здесь мы увидем все 3 имени -->
					</div>					
				</div>				
			</div>
		</div>
	</main>
	Test
	<script>

	(function(){

		var app = angular.module('MyApp', []);

		app.controller('Controller1',[function(){
			this.name = 'Vasya 111';
		}]);

		app.controller('Controller2',[function(){
			this.name = 'Vasya 222';
		}]);

		app.controller('Controller3',[function(){
			this.name = 'Vasya 333';
		}]);


	})();

	</script>
</body>
</html>