<!DOCTYPE html>
<html lang="ru"  ng-app="MyApp">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<script src="/angular/angular.min.js"></script>
</head>
<body>
	<main ng-init="name='Petya'"> <!-- 2 вариант -->
		<div class="container">
			<div ng-controller="Controller1">
				<!-- {{name}} -->
				{{test}}
				<input type="text" class="form-control" ng-model="test"> <!-- 2-х стороннее связывание данных с scope.test -->
			</div>
<!-- 			<div ng-controller="Controller2">
				{{name}}
			</div> -->
		</div>
	</main>
	<script>

		var var1 = {test: 123},
			var2 = {};

		var2.__proto__ = var1; //наследование у var1 

		console.log(var1.test);
		console.log(var2.test);
//1 Вариант
	(function(){

		var app = angular.module('MyApp', []);
		app.controller('Controller1', function($scope, $rootScope){
			//$scope.name = 'Vasya';
			$rootScope.name = 'Vasya';
		});
		app.controller('Controller2', function($scope){
			//$scope.name = 'Vasya2';
		});
	})();		

//2 вариант
	 (function(){

		var app = angular.module('MyApp', []);
	 	app.controller('Controller1', function($scope, $rootScope){
	// 		//$scope.name = 'Vasya';
	// 		//$rootScope.name = 'Vasya';
			$scope.test = 123;
	 	});
	 	app.controller('Controller2', function($scope){
	// 		//$scope.name = 'Vasya2';
	 	});
	 })();	
	</script>
</body>
</html>