<!DOCTYPE html>
<html lang="ru"  data-ng-app="MyApp">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<script src="/angular/angular.min.js"></script>
</head>
<body>
	<main>
		<div class="container">
			<div ng-controller="MyController">
				{{1+2}}
				<p>{{var1}}</p>
				<p>{{obj.var2}}</p>
				<p>{{arr[2].title}}</p>
			</div>
		</div>
	</main>
	<script>
		var data = 'Данные  из БД';

		var app = angular.module('MyApp', []);
		
		app.controller('MyController', function($scope){
			$scope.var1 = data;
			$scope.obj = {
				var1: 'test',
				var2: 123
			};
			$scope.arr = [
				{title: 'Book 1', year: '2000'},
				{title: 'Book 2', year: '2001'},
				{title: 'Book 3', year: '2002'},
				{title: 'Book 4', year: '2003'},
				{title: 'Book 5', year: '2004'},
			]
		})
	</script>
</body>
</html>